### VS Code ###
.vscode/

### JetBrains IDEs ###
.idea
*.iws
*.iml
*.ipr

### OS ###
.DS_Store
Thumbs.db

### Environment Variables ###
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

### Examples and templates ###
!.env.example
!.env.template